 <div class="row">
     <div class="col" id="main-content">

         <div class="card user-card">
             <div class="card-body">
                 <div class="media">
                     <img src="images/user.svg" class="img-thumbnail rounded-circle" alt="John Thor">
                     <div class="media-body ml-3 pt-4">
                         <h3>{{username}}</h3>
                         <div id="full-name"></div>
                         <div class="small text-muted">Joined {{join_date}}</div>
                     </div>
                 </div>
                 <hr>
                 <ul class="nav nav-pills">
                     <li class="nav-item">
                         <a class="nav-link" href="/account-profile">Profile</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link active" href="/account-order">Orders</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="/account-address">Address</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="/account-wishlist">Wishlist</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="account-sell">Sell</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="account-history">History</a>
                     </li>
                 </ul>
                 <hr>
                 <div class="table-responsive">
                     <table class="table table-hover">
                         <thead class="thead-light">
                         <tr>
                             <th scope="col">Order ID</th>
                             <th scope="col">Date</th>
                             <th scope="col">Total</th>
                         </tr>
                         </thead>
                         <tbody>

                         {{#each orders}}
                             <tr>
                                 <th scope="row">{{_id}}</th>
                                 <td>{{date}}</td>
                                 <td>€{{total}}</td>
                             </tr>
                         {{/each}}

                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
 </div>

 <script>
     $(document).ready(function () {
         $.ajax({
             type: "GET",
             url: "/api/users/{{username}}",
             success: function (data) {
                 $("#profileFirstName").val(data[0].firstname);
                 $("#profileLastName").val(data[0].lastname);
                 $("#profileEmail").val(data[0].emailAddress);
                 $("#profilePhone").val(data[0].phoneNo);
                 $("#full-name").html(data[0].firstname + " " + data[0].lastname);
             }
         });

     });
 </script>