<script>
    function setupDetails(id) {
        $.ajax({
            url: "/api/tickets/" + id,
            type: "GET",
            success: function (res) {

                $("#" + id + "-name").html(res.eventName);
                $("#" + id + "-price").html(res.price);
                $("#" + id + "-seat").html(res.seatNo);

            }
        });
    }

    $(document).ready(function () {

        $(".removeWish").click(function () {
            var id = $(this).attr("wid");
            console.log("{{username}} " + id)

            $.ajax({
                url: "/api/users/{{username}}/wishlist/" + id,
                type: "DELETE",
                success: function (resp) {
                    console.log(resp);
                    window.location.href = "/account-wishlist";
                }
            });

        });

        $("#clearAll").click(function () {

            $.ajax({
                url: "/api/users/{{username}}/wishlist/",
                type: "DELETE",
                success: function () {
                    window.location.href = "/account-wishlist";
                }
            });

        });
    });

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/api/users/{{username}}",
            success: function (data) {
                $("#profileFirstName").val(data[0].firstname);
                $("#profileLastName").val(data[0].lastname);
                $("#profileEmail").val(data[0].emailAddress);
                $("#profilePhone").val(data[0].phoneNo);
                $("#full-name").html(data[0].firstname + " " + data[0].lastname);
            }
        });

    });

</script>

<div class="row">
    <div class="col" id="main-content">

        <div class="card user-card">
            <div class="card-body">
                <div class="media">
                    <img src="images/user.svg" class="img-thumbnail rounded-circle" alt="John Thor">
                    <div class="media-body ml-3 pt-4">
                        <h3>{{username}}</h3>
                        <div id="full-name"></div>
                        <div class="small text-muted">Joined {{join_date}}</div>
                    </div>
                </div>
                <hr>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="/account-profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account-order">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account-address">Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/account-wishlist">Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="account-sell">Sell</a>
                    </li>
                </ul>              <hr>
                <table class="table table-cart">
                    <tbody>

                    {{#each wishlist}}
                        <tr>
                            <td id="{{ticketID}}-seat">
                            </td>
                            <td>
                            </td>

                            <td>
                                <h6><a href="/detail" class="text-body" id="{{ticketID}}-name"></a></h6>
                                <h6 class="text-muted" id="{{ticketID}}-price"></h6>
                            </td>
                            <td>
                                <button wid="{{ticketID}}" style="margin-top: 35%;" class="removeWish btn btn-sm btn-outline-warning rounded-circle" title="Remove">
                                    <i class="fa fa-close"></i>
                                </button>
                            </td>
                        </tr>

                        <script>
                            setupDetails("{{ticketID}}");
                        </script>
                    {{/each}}

                    <tr>
                        <td colspan="4">
                            <button id="clearAll" class="btn btn-outline-secondary">CLEAR ALL</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
