<script src="javascript/admin/master.js"></script>

<div class="row">
    <div class="col" id="main-content">

        <div class="card user-card">
            <div class="card-body">
                <h2>Admin Dashboard</h2>
                <div id="alert"></div>
                <hr>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin_index">Event Requests</a>
                    </li>
                </ul>              <hr>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each data}}
                            <tr>
                                <th scope="row"><a href="/admin_eventRequest?eventId={{_id}}" class="text-info">{{name}}</a></th>
                                <td>{{category}}</td>
                                <td>{{startDate}}</td>
                                <td>{{endDate}}</td>
                            </tr>
                        {{/each}}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>