<div class="row">
    <div class="col" id="main-content">

        <h3 class="title mb-3">You have {{cart.size}} items in your cart</h3>

        <!-- Shopping Cart Table -->
        <table class="table table-cart">
            <tbody>

            {{#each cart}}
                <tr>
                    <td><button tid="{{ticketID}}" class="btn btn-sm btn-outline-warning rounded-circle deleteItem" title="Remove"><i class="fa fa-close"></i></button></td>
                    <td>
                        <button class="btn btn-sm btn-outline-warning rounded">Remove</button>
                    </td>
                    <td>
                        <h6><a href="/detail" class="text-body {{ticketID}}-name"></a></h6>
                        <h6 class="text-muted"></h6>
                        <span class="{{ticketID}}-price"></span>
                    </td>
                    <td>
                        <div class="input-spinner">
                            {{quantity}}
                        </div>
                        <span class="price {{ticketID}}-price"></span>
                    </td>
                </tr>
                <script>
                    setupCartDetails("{{ticketID}}", {{quantity}});
                </script>
            {{/each}}


            <tr>
                <td colspan="4">
                    <div class="box-total">
                        <h4>Subotal: <span class="price subtotal"></span></h4>
                        <a href="/checkout" class="btn btn-success">CHECKOUT</a>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
        <!-- /Shopping Cart Table -->

    </div>
</div>