<div class="row">
    <div class="col" id="main-content">

        <h3 class="title mb-3">You have {{cart.size}} items in your cart</h3>

        <!-- Shopping Cart Table -->
        <table class="table table-cart">
            <tbody>

            {{#each cart}}
                <tr>
                    <td><button tid="{{ticketID}}" class="btn btn-sm btn-outline-warning rounded-circle deleteItem" title="Remove"><i class="fa fa-close"></i></button></td>
                    <td>
                        <button class="btn btn-sm btn-outline-warning rounded">Remove</button>
                    </td>
                    <td>
                        <h6><a href="/detail" class="text-body {{ticketID}}-name"></a></h6>
                        <h6 class="text-muted"></h6>
                        <span class="{{ticketID}}-price"></span>
                    </td>
                    <td>
                        <div class="input-spinner">
                            {{quantity}}
                        </div>
                        <span class="price {{ticketID}}-price"></span>
                    </td>
                </tr>
                <script>
                    setupCartDetails("{{ticketID}}", {{quantity}});
                </script>
            {{/each}}


            <tr>
                <td colspan="4">
                    <div class="box-total">
                        <h4>Subotal: <span class="price subtotal"></span></h4>
                        <a href="/checkout" class="btn btn-success">CHECKOUT</a>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
        <!-- /Shopping Cart Table -->

        <!-- Recently viewed-->
        <h4>Recently viewed items</h4>
        <div class="content-slider">
            <div class="swiper-container" id="popular-slider">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="row no-gutters gutters-2">
                            <div class="col-6 col-md-3 mb-2">
                                <div class="card card-product">
                                    <div class="badge badge-success badge-pill">save $89.01</div>
                                    <button class="wishlist" title="Add tot wishlist"><i class="fa fa-heart"></i></button>
                                    <a href="/detail"><img src="images/product/9.jpg" alt="ASUS VivoBook F510UA FHD Laptop" class="card-img-top"></a>
                                    <div class="card-body">
                                        <span class="price"><del class="small text-muted">$599.00</del> $509.99</span>
                                        <a href="/detail" class="card-title h6">ASUS VivoBook F510UA FHD Laptop</a>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="rating" data-value="4"></span>
                                            <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 mb-2">
                                <div class="card card-product">
                                    <div class="ribbon"><span class="bg-pink text-white">Hot</span></div>
                                    <button class="wishlist" title="Add tot wishlist"><i class="fa fa-heart"></i></button>
                                    <a href="/detail"><img src="images/product/10.jpg" alt="Nikon D7200 DX-format DSLR Body (Black)" class="card-img-top"></a>
                                    <div class="card-body">
                                        <span class="price">$996.95</span>
                                        <a href="/detail" class="card-title h6">Nikon D7200 DX-format DSLR Body (Black)</a>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="rating" data-value="5"></span>
                                            <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 mb-2">
                                <div class="card card-product">
                                    <button class="wishlist" title="Add tot wishlist"><i class="fa fa-heart"></i></button>
                                    <a href="/detail"><img src="images/product/11.jpg" alt="Polk Audio PSW10 10-Inch Powered Subwoofer" class="card-img-top"></a>
                                    <div class="card-body">
                                        <span class="price">$99.99</span>
                                        <a href="/detail" class="card-title h6">Polk Audio PSW10 10-Inch Powered Subwoofer</a>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="rating" data-value="4"></span>
                                            <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 mb-2">
                                <div class="card card-product">
                                    <div class="badge badge-danger badge-pill">Only 1 left in stock</div>
                                    <button class="wishlist" title="Add tot wishlist"><i class="fa fa-heart"></i></button>
                                    <a href="/detail"><img src="images/product/12.jpg" alt="Essential Phone in Halo Gray – 128 GB Unlocked" class="card-img-top"></a>
                                    <div class="card-body">
                                        <span class="price"><del class="small text-muted">$499.99</del> $435.00</span>
                                        <a href="/detail" class="card-title h6">Essential Phone in Halo Gray – 128 GB Unlocked</a>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="rating" data-value="4"></span>
                                            <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="row no-gutters gutters-2">
                            <div class="col-6 col-md-3 mb-2">
                                <div class="card card-product">
                                    <div class="badge badge-success badge-pill">save $89.01</div>
                                    <button class="wishlist" title="Add tot wishlist"><i class="fa fa-heart"></i></button>
                                    <a href="/detail"><img src="images/product/9.jpg" alt="ASUS VivoBook F510UA FHD Laptop" class="card-img-top"></a>
                                    <div class="card-body">
                                        <span class="price"><del class="small text-muted">$599.00</del> $509.99</span>
                                        <a href="/detail" class="card-title h6">ASUS VivoBook F510UA FHD Laptop</a>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="rating" data-value="4"></span>
                                            <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 mb-2">
                                <div class="card card-product">
                                    <div class="ribbon"><span class="bg-pink text-white">Hot</span></div>
                                    <button class="wishlist" title="Add tot wishlist"><i class="fa fa-heart"></i></button>
                                    <a href="/detail"><img src="images/product/10.jpg" alt="Nikon D7200 DX-format DSLR Body (Black)" class="card-img-top"></a>
                                    <div class="card-body">
                                        <span class="price">$996.95</span>
                                        <a href="/detail" class="card-title h6">Nikon D7200 DX-format DSLR Body (Black)</a>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="rating" data-value="5"></span>
                                            <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 mb-2">
                                <div class="card card-product">
                                    <button class="wishlist" title="Add tot wishlist"><i class="fa fa-heart"></i></button>
                                    <a href="/detail"><img src="images/product/11.jpg" alt="Polk Audio PSW10 10-Inch Powered Subwoofer" class="card-img-top"></a>
                                    <div class="card-body">
                                        <span class="price">$99.99</span>
                                        <a href="/detail" class="card-title h6">Polk Audio PSW10 10-Inch Powered Subwoofer</a>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="rating" data-value="4"></span>
                                            <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 mb-2">
                                <div class="card card-product">
                                    <div class="badge badge-danger badge-pill">Only 1 left in stock</div>
                                    <button class="wishlist" title="Add tot wishlist"><i class="fa fa-heart"></i></button>
                                    <a href="/detail"><img src="images/product/12.jpg" alt="Essential Phone in Halo Gray – 128 GB Unlocked" class="card-img-top"></a>
                                    <div class="card-body">
                                        <span class="price"><del class="small text-muted">$499.99</del> $435.00</span>
                                        <a href="/detail" class="card-title h6">Essential Phone in Halo Gray – 128 GB Unlocked</a>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="rating" data-value="4"></span>
                                            <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <a href="#" role="button" class="carousel-control-prev" id="popular-slider-prev"><i class="fa fa-angle-left fa-lg"></i></a>
            <a href="#" role="button" class="carousel-control-next" id="popular-slider-next"><i class="fa fa-angle-right fa-lg"></i></a>
        </div>          <!-- /Recently viewed-->
    </div>
</div>