<div class="row">
    <div class="col" id="main-content">

        <div class="row">
            <div class="col-sm-7 col-md-8">
                <h3 class="title"><i class="fa fa-list"></i> Review your order</h3>
                <span class="text-muted">Step 3 of 3</span>
                <hr>

                {{#each cart}}
                    <div class="media border-bottom mb-3">
                        <div class="media-body ml-3">
                            <h6 class="{{ticketID}}-name"></h6>
                            <div>{{quantity}} x <span class="price {{ticketID}}-price"></span></div>
                        </div>
                    </div>
                {{/each}}

            </div>
            <div class="col-sm-5 col-md-4 pt-5">
                <h4>Shipping to</h4>
                <div>{{cartData.name}}</div>
                <div>{{cartData.addrOne}}, {{cartData.addrTwo}}</div>
                <div>{{cartData.phone}}</div>
                <hr>
                <h4>Payment Method</h4>
                <p>Credit Card: {{cartData.cardNo}}</p>
                <hr>
                <div class="box-total">
                    <h4>TOTAL</h4>
                    <h4><span class="price subtotal"></span></h4>
                </div>
                <hr>
                <a id="completeOrder" class="btn btn-primary btn-block">COMPLETE MY ORDER</a>
            </div>
        </div>
    </div>
</div>
<script src="javascript/checkout.js"></script>