<div class="row">
    <div class="col" id="main-content">

        <div class="row">
            <div class="col-sm-7 col-md-8">
                <h3 class="title"><i class="fa fa-map-marker"></i> Delivery address</h3>
                <span class="text-muted">Step 1 of 3</span>
                <hr>
                <form class="bg-light p-3 border shadow-sm">
                    <div class="form-group">
                        <label for="checkoutName">Name</label>
                        <input type="text" class="form-control" id="checkoutName" value="{{firstname}} {{lastname}}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="checkoutAddr1">Address Line 1</label>
                        <input value="{{addrOne}}" type="text" class="form-control" id="checkoutAddr1" disabled>
                    </div>
                    <div class="form-group">
                        <label for="checkoutAddr2">Address Line 2</label>
                        <input value="{{addrTwo}}" type="email" class="form-control" id="checkoutAddr2" disabled>
                    </div>
                    <div class="form-group">
                        <label for="checkoutCity">City</label>
                        <input value="{{city}}" type="text" class="form-control" id="checkoutCity" disabled>
                    </div>
                    <div class="form-group">
                        <label for="checkoutCoumtry">Country</label>
                        <input value="{{country}}" type="text" class="form-control" id="checkoutCountry" disabled>
                    </div>
                    <div class="form-group">
                        <label for="checkoutPhone">Phone</label>
                        <input value="{{phone}}" type="text" class="form-control" id="checkoutPhone" disabled>
                    </div>
                    <div class="form-group">
                        <label>SELECT SHIPPING METHOD</label>
                        <div class="custom-control custom-radio">
                            <input value="post" type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio1">Standard Delivery</label>
                            <small class="form-text text-muted">(3 - 6 business days)</small>
                        </div>
                        <div class="custom-control custom-radio">
                            <input value="email" type="radio" id="customRadio2" name="customRadio" class="custom-control-input" checked>
                            <label class="custom-control-label" for="customRadio2">Email</label>
                            <small class="form-text text-muted">(instant)</small>
                        </div>
                    </div>
                    <a id="checkout-1" class="btn btn-primary">NEXT <i class="fa fa-angle-right"></i></a>
                </form>
            </div>

            <div class="col-sm-5 col-md-4 pt-5">
                <h4 class="title mb-3">Order summary</h4>
                {{#each cart}}
                    <div class="media border-bottom mb-3">
                        <div class="media-body ml-3">
                            <h6 class="{{ticketID}}-name"></h6>
                            <div>{{quantity}} x <span class="price {{ticketID}}-price"></span></div>
                        </div>
                    </div>
                {{/each}}

                <div class="box-total">
                    <h4>TOTAL</h4>
                    <h4><span class="price subtotal"></span></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="javascript/checkout.js"></script>