<script src="javascript/event-detail.js"></script>

<div class="row">
    <div class="col" id="main-content">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" class="text-info">Home</a></li>
                <li class="breadcrumb-item"><a href="/grid" class="text-info">{{data.category}}</a></li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div id="data-row-1" class="data-row" data-_id="{{data._id}}" data-startDate="{{data.startDate}}" data-endDate="{{data.endDate}}"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="img-detail-wrapper">
                    <img src="/uploads/{{header}}" class="img-fluid px-5 w-75" id="img-detail" alt="Responsive image" data-index="0">
<!--                    <div class="img-detail-list">-->
<!--                        <a href="#" class="active"><img src="images/product/detail/1_small.jpg" data-large-src="images/product/detail/1.jpg" alt="Product" data-index="0"></a>-->
<!--                        <a href="#"><img src="images/product/detail/2_small.jpg" data-large-src="images/product/detail/2.jpg" alt="Product" data-index="1"></a>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-header">
                    <h3>{{data.name}}</h3>
                </div>
                <hr>
                <div>
                    <h4>Description</h4>
                    <p class="mt-3" id="description">{{data.description}}</p>
                    <h4 class="mt-3" id="details">Details</h4>
                    <p>
                        <span id="startDate"></span><br>
                        <span id="endDate"></span>
                    </p>
                    <p>Category: {{data.category}}</p>
                    <p>
                        <span>Venue: {{data.venue}}</span><br>
                        <span>Address: {{data.address}}</span><br>
                    </p>
                </div>
<!--                <form>-->
<!--                    <div class="form-group">-->
<!--                        <label for="quantity">Quantity</label>-->
<!--                        <div class="input-spinner">-->
<!--                            <input type="number" class="form-control" id="quantity" value="1" min="1" max="999">-->
<!--                            <div class="btn-group-vertical">-->
<!--                                <button type="button" class="btn btn-light"><i class="fa fa-chevron-up"></i></button>-->
<!--                                <button type="button" class="btn btn-light"><i class="fa fa-chevron-down"></i></button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
            </div>
        </div>
        <hr>
        <div class="row mt-4">
            <div id="tickets" class="col">
                <h3 class="mt-2">Tickets</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Seller</th>
                            <th scope="col">Price</th>
                            <th scope="col">Seat</th>
                            <th scope="col" class="w-70">Description</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>

                        <tbody id="tickets-table">
                        </tbody>
                    </table>
                </div>

<!--                <hr>-->
<!--                <h3 id="reviews">Reviews</h3>-->
<!--                <div class="media align-items-center mb-3">-->
<!--                    <h1 class="mb-0">4.5</h1>-->
<!--                    <div class="media-body ml-2">-->
<!--                        <div class="rating" data-value="4.5"></div>-->
<!--                        <div>(2 reviews)</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="media">-->
<!--                    <img src="images/user.svg" width="50" height="50" alt="John Thor" class="rounded-circle">-->
<!--                    <div class="media-body ml-3">-->
<!--                        <h5 class="mb-0">John Thor</h5>-->
<!--                        <span class="rating text-secondary" data-value="4"></span>-->
<!--                        <small class="ml-2">15/07/2018</small>-->
<!--                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="media">-->
<!--                    <img src="images/user2.svg" width="50" height="50" alt="Michael Lelep" class="rounded-circle">-->
<!--                    <div class="media-body ml-3">-->
<!--                        <h5 class="mb-0">Michael Lelep</h5>-->
<!--                        <span class="rating text-secondary" data-value="5"></span>-->
<!--                        <small class="ml-2">15/07/2018</small>-->
<!--                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="text-center">-->
<!--                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#reviewFormModal">Write a review</button>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>

<!--&lt;!&ndash; Review Form Modal &ndash;&gt;-->
<!--<div class="modal fade" id="reviewFormModal" tabindex="-1" role="dialog" aria-labelledby="reviewFormModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="reviewFormModalLabel">Write your review</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <form>-->
<!--                <div class="modal-body">-->
<!--                    <div class="form-group">-->
<!--                        <label for="InputTitle">Title</label>-->
<!--                        <input type="text" class="form-control" id="InputTitle" placeholder="Enter Title">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="inputDesc">Review</label>-->
<!--                        <textarea class="form-control" id="inputDesc" rows="3" placeholder="Your review"></textarea>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>Rating</label>-->
<!--                        <div id="star-rating" class="text-warning h5"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
<!--                    <button type="submit" class="btn btn-primary">Send</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<!-- PLUGINS FOR CURRENT PAGE -->
<script src="../plugins/raty-fa/jquery.raty-fa.min.js"></script>
<script src="../plugins/photoswipe/photoswipe.min.js"></script>
<script src="../plugins/photoswipe/photoswipe-ui-default.min.js"></script>