<div class="row">
    <div class="col" id="main-content">

        <!-- Category Banner -->
<!--        <div class="card border-0 mb-3">-->
<!--            <img src="images/categories/1-wide.jpeg" alt="" class="card-img">-->
<!--            <div class="card-img-overlay">-->
<!--                <h2 class="card-title text-white title">Computers &amp; Accessories</h2>-->
<!--            </div>-->
<!--        </div>-->
        <!-- /Category Banner -->

        <div class="d-flex justify-content-between">
            <!-- Tags -->
<!--            <div class="btn-tags">-->
<!--                <a href="#" class="btn btn-light btn-sm active">Laptops</a>-->
<!--                <a href="#" class="btn btn-light btn-sm">Desktops</a>-->
<!--                <a href="#" class="btn btn-light btn-sm">PC Gaming</a>-->
<!--                <a href="#" class="btn btn-light btn-sm">Monitors</a>-->
<!--                <a href="#" class="btn btn-light btn-sm">Tablets</a>-->
<!--                <a href="#" class="btn btn-light btn-sm">Computer Accessories</a>-->
<!--                <a href="#" class="btn btn-light btn-sm">Networking</a>-->
<!--                <a href="#" class="btn btn-light btn-sm">Computer Components</a>-->
<!--                <a href="#" class="btn btn-light btn-sm">Storage &amp; Hard Drives</a>-->
<!--            </div>-->
            <!-- /Tags -->

            <!-- Filter Modal Toggler -->
<!--            <span>-->
<!--              <button class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#filterModal"><i class="fa fa-filter"></i> FILTER</button>-->
<!--            </span>-->
        </div>

        <!-- List -->
        <div class="d-flex justify-content-between mt-4">
            <h3 class="title">Events</h3>
            <div class="btn-group btn-group-sm align-self-start" role="group">
<!--                <a href="/grid" class="btn btn-outline-secondary"><i class="fa fa-th-large"></i></a>-->
                <a href="/list?q=" class="btn btn-secondary"><i class="fa fa-list"></i></a>
            </div>
        </div>
        <div class="row no-gutters gutters-2">
            {{#each data}}
                <div class="col-6 col-sm-12 mb-2">
                    <div class="card card-product card-product-list">
                        <button class="wishlist active" title="Add to wishlist"><i class="fa fa-heart"></i></button>
                        <a href="/event-detail?eventId={{_id}}"><img src="/uploads/{{header}}" alt='{{name}}' class="card-img-top"></a>
                        <div class="card-body">
                            <a href="/event-detail?eventId={{_id}}" class="card-title h5">{{name}}</a>
<!--                            <div class="d-inline-block d-sm-block mb-2">-->
<!--                                <span class="price"></span>-->
<!--                                <span class="rating" data-value="4"></span>-->
<!--                            </div>-->
                            <p lang="zxx">{{description}}</p>
                            <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <!-- /List -->

        <!-- Pagination -->
<!--        <nav aria-label="Page navigation Shop List">-->
<!--            <ul class="pagination justify-content-center">-->
<!--                <li class="page-item disabled"><a class="page-link" href="/list" tabindex="-1">Previous</a></li>-->
<!--                <li class="page-item active"><a class="page-link" href="/list">1</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="/list">2</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="/list">3</a></li>-->
<!--                <li class="page-item disabled"><a class="page-link" href="/list" tabindex="-1">...</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="/list">70</a></li>-->
<!--                <li class="page-item">-->
<!--                    <a class="page-link" href="/list">Next</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->
        <!-- /Pagination -->


    </div>
</div>

<!--&lt;!&ndash; Modal filter &ndash;&gt;-->
<!--<div class="modal fade modal-filter" id="filterModal" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-body">-->
<!--                <form>-->
<!--                    <div class="form-group">-->
<!--                        <label for="filterSortBy">Sort by</label>-->
<!--                        <select class="form-control custom-select" id="filterSortBy">-->
<!--                            <option>Popular</option>-->
<!--                            <option>Price: low to high</option>-->
<!--                            <option>Price: high to low</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <hr>-->
<!--                    <div class="form-group">-->
<!--                        <label for="filterCategory">Category</label>-->
<!--                        <select id="filterCategory" class="form-control custom-select">-->
<!--                            <option>Laptops</option>-->
<!--                            <option>Desktops</option>-->
<!--                            <option>PC Gaming</option>-->
<!--                            <option>Monitors</option>-->
<!--                            <option>Tablets</option>-->
<!--                            <option>Computer Accessories</option>-->
<!--                            <option>Networking</option>-->
<!--                            <option>Computer Components</option>-->
<!--                            <option>Storage &amp; Hard Drives</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <hr>-->
<!--                    <div class="form-group">-->
<!--                        <label class="mb-5">Price Range</label>-->
<!--                        <div id="price-range"></div>-->
<!--                    </div>-->
<!--                    <hr>-->
<!--                    <div class="form-group">-->
<!--                        <label>Rating</label>-->
<!--                        <div id="star-rating" data-score="4.5"></div>-->
<!--                    </div>-->
<!--                    <hr>-->
<!--                    <div class="form-group text-center">-->
<!--                        <div class="btn-group" role="group" aria-label="Basic example">-->
<!--                            <button type="reset" class="btn btn-light">CLEAR ALL</button>-->
<!--                            <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">DONE</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- PLUGINS FOR CURRENT PAGE -->
<script src="plugins/nouislider/nouislider.min.js"></script>
<script src="plugins/raty-fa/jquery.raty-fa.min.js"></script>


<script>console.log("{{data}}");</script>